pytorch-lightning==1.2.6
PyYAML==5.3.1
torch==1.8.1
torchaudio==0.8.1
torchmetrics==0.2.0
torchvision==0.9.1
opencv-python==4.4.0.42
elasticdeform==0.4.9
future==0.18.2
tensorboard==2.3.0
numpy==1.20.2
h5py==2.10.0
scikit-image==0.18.1
progress==1.5
sklearn==0.0
gpustat==0.6.0